<!-- <div id="live_heart_rate_plot"></div> -->
<div id="bpm_rate_plot" style=""></div>
<div id="bpm_value" style="">
	<div class="header">
		<strong>Current heartbeat</strong>
	</div>
	<div class="bpm-value">
	</div>
</div>
<div class="clearfix"></div>