Heart rate monitor
<br/>
<div id="wrapper">
	<div id="live_heart_rate_plot"></div>
	<div id="bpm_rate_plot" style=""></div>
	<div id="bpm_value" style="">
		<div class="header">
			<strong>Current heartbeat</strong>
		</div>
		<div class="bpm-value">

		</div>
	</div>
	<div class="clearfix"/>
</div>

<p>
<%#= link_to "Start", {:action => :start}, :remote => true %>
<%#= link_to "Stop", {:action => :stop}, :remote => true %>
<a href="start();">Start</a>
<a href="stop();">Stop</a>
</p>
